<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expense Tracker For Father</title>
  <link href="https://bootswatch.com/4/cyborg/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>

<body>
  {{!-- Navbar --}}
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Expense Manager
        <span style="color:chartreuse;">{{#if isAuthenticated}} for
          <strong>{{user.name}}{{/if}}</strong>
        </span>
      </a>
      {{#if isAuthenticated}}
      <a href="/users/logout" class="btn btn-warning">Logout</a>
      {{else}}
      <a href="/users/login" class="btn btn-warning">Login</a>
      {{/if}}
    </div>

  </nav>
  {{{body}}}
  <script src="https://kit.fontawesome.com/ccfd93e9a7.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
</body>

</html>