<div id="create-form" style="width:40%;margin:2em auto;">
  <form action="/record" method="POST">
    <div class="form-group" style="align-self:center;">
      <label for="category">類別</label>
      <select class="form-control" id="category" name="category" required>
        <option value="" style="display: none;">請選擇類別</option>
        <option>家居物業</option>
        <option>交通出行</option>
        <option>休閒娛樂</option>
        <option>餐飲食品</option>
        <option>其他</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">項目</label>
      <input type="text" class="form-control" id="name" placeholder="..." name="name" required>
    </div>
    <div class="form-group">
      <label for="date">日期</label>
      <input type="date" class="form-control" id="date" name="date" value="return todayDate()" required>
    </div>
    <div class="form-group">
      <label for="amount">金額</label>
      <input type="number" class="form-control" id="amount" placeholder="..." name="amount" required>
    </div>
    <div class="form-group">
      <label for="merchant">商家</label>
      <input type="text" class="form-control" id="merchant" placeholder="..." name="merchant" required>
    </div>
    <button type="submit" class="btn btn-success" style="margin-top: 20px;">新增支出</button>
  </form>
</div>
<script>
  const dateValue = document.querySelector('#date').value
  console.log(dateValue)
  dateValue = '2020-01-01'
  console.log(dateValue)
  Date.prototype.toDateInputValue = (function () {
    var local = new Date(this);
    local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
    return local.toJSON().slice(0, 10);
  })
  function todayDate() {
    const today = new Date()
    const year = today.getFullYear()
    let month = today.getMonth() + 1
    let date = today.getDate()
    if (month < 10) {
      month = '0' + month.toString()
    }
    if (date < 10) {
      date = '0' + date.toString()
    }
    return `${year}-${month}-${date}`
  }
</script>